<ion-content>
  <div class="content" style="">
    <img src="assets/logo_violet.png"/>
    <div class="boutons">
      <div class="btn">
        <span>Carte des Saouls <img src="assets/icon/world.png"/></span>
      </div>
      <div class="btn">
        <span>Calendrier Saoul <img src="assets/icon/calendar.png"/></span>
      </div>
      <div routerLink="/search" class="btn">
          <span>Chercher un Saoul <img src="assets/icon/loupe.png"/></span>
        </div>
    </div>
  </div>
</ion-content>
