.content{
    background-color:#220242;
    height:100%;
    width:100%;
}
.top-image{
    text-align:center;
    width:100%;
    img{
        height:141px;
        width:141px;
    }
}
.promo{
    display:flex;
    flex-direction:row;
    margin-top:10px;
    justify-content:space-between;
    margin-right:5px;
    margin-left:5px;
    input{
        border-color:#707070;
        width:10px;
        height:10px;
    }
    label{
        color:#FCFCDF;
        font-family:acme;
        font-size:12px;
    }
}
hr{
    margin-top: 10px;
    width:100%;
    height:2px;
    background-color:#707070;
    border:none;
}

.no-result{
    color:#FCFCDF;
    font-family:acme;
    font-size:15px;
    text-align:center;
}

ion-checkbox{
    --background: #220242;
    --border-color: #FCFCDF;
    --size:20px;
}


ion-list{
    .even{
        --background:#F27980;
        --color: #FCFCDF;
    }
    .odd{
        --background:#220242;
        --color: #FCFCDF;
    }
}



