.content{
    background-color:#220242;
    height:100%;
    width:100%;
    color:#FCFCDF;
    font-family:acme;
}
.top-image{
    text-align:center;
    width:100%;
    img{
        height:141px;
        width:141px;
    }
}

table{
    margin-left:60px;
    .year{
        width:150px;
        height:55px;
    }
}
